p
	{
		font-family:Courier New;
		font-size:14pt;

	}

table,tr,th,td
	
	{

		border: 1px solid;
		border-collapse: collapse;
	}

td
	{
		text-align: center;
		padding:5px;
		width: 200px;
	}

ul
	{
		list-style-type: none;
		margin:0;
		padding:0;
		overflow: hidden;
		background-color: #424e51;
	}

li
	{
		float: left;
	}

li a
	{
		display: block;
		text-align: center;
		padding: 14px 16px;
		text-decoration: none;
		color:white;
	}

li a:hover
	{
		background-color: #15be4c;
		color:#0f1833;
	}



selector{property:value;}






















